# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# OS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py~

# Git
*.orig
